<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/css/style1.css">
    <div class="row">
        <h1 class="text-center">Edit Product</h1>
        <div class="col-6 offset-3">
            <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="product[title]" value="<%=product.title%>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="device">Device Type</label>
                <input class="form-control" type="text" id="device" name="product[device]" value="<%=product.device%>" required>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs.</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="product[price]" value="<%=product.price%>" required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="product[description]" required><%= product.description%> </textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="product[image]" value="<%=product.image%>" required>
            </div>
            <div class="mb-3">
            <button class="btn btn-info">Update Product</button>
            </div>
        </form>
    
        <a href="/products/<%=product._id%>"> Back to the Product</a>
    </div>
        </div>
